body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
    font-weight: normal;
    text-align: center;
    font-size: larger;
}

h2 {
    color: #333;
    font-weight: normal;
    margin-top: 15px;
    padding-bottom: 15px;
    font-size: 28px;
}

h3 {
    color: #333;
    font-weight: normal;
    font-size: 20px;
}

h4 {
    color: #333;
    font-weight: 600;
    font-size: 20px;
}

p {
    color: #666;
    font-size: 12px;
}

#introduction {
    color: #666;
    font-size: 13px;
}

#header {
    background-color: #0476ac;
}

#title {
    color: white;
    padding: 10px;
    font-size: xx-large;

}

#tagline {
    color: #fafdff;
    font-weight: bolder;
    text-align: center;
}

.card {
    padding: 5px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.4s, border 0.4s, transform 0.4s;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: #0476ac 1px solid;
    transform: scale(1.01);
}

.timeline {
    border: 1px solid hsla(0, 0%, 0%, 0.2);
    border-left: 2px solid #0476ac;
    position: relative;
    list-style: none;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.timeline .timeline-item {
    position: relative;
}

.timeline .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .timeline-item:after {
    background-color: #0476ac;
    ;
    left: -26px;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
}

#experience-list {
    list-style-type: disc;
    padding-left: 20px;
    font-size: small;
    color: #666;
}

hr {
  border: none; 
  height: 1px; 
  background-color: #333;
  margin: 20px 0;
}